body {
  background: linear-gradient(Aliceblue, lightblue, cyan);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: cursive;
}



#previousChapter {
  display: none;
}



#nextChapter {
  display: none;
}



#previousSlide {
  /* font-size: 0; */
}


.icon {
  height: 24px;
  width: 24px;
  font-size: 0;
  background: none;
  border: none;
}

.icon.previous {
  background-image: url("/previous.svg");
}

.icon.next {
  background-image: url("/next.svg");
}

.icon.restart {
  background-image: url("/restart.svg");
}



.titles span {
  display: none;
}

.titles span:first-child {
  display: inline;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  padding: 0 5vw;
  position: fixed;
  background-color: Aliceblue;
  top: 0;
  z-index: 1;
}

.chapter {
  display: flex;
  transition: transform 500ms ease-in-out;
}

#chapter1 section {
  height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5vw;
  align-items: center;
  font-size: 3rem;
}
